header {
    padding: 35px;
    text-align: center;
    background: linear-gradient(to right, #D4D3DD, #bddda2);
}

header h1 {
    color: black;
    letter-spacing: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}