<div class="grid">
  <ng-container *ngIf="data$ | async as data; else showLoading">
    <pokedex-card
      *ngFor="
        let pokemon of data.pokemons
          | paginate
            : {
                itemsPerPage: itemsPerPage,
                currentPage: currentPage,
                totalItems: data.totalPokemons
              }
      "
      [pokemon]="pokemon"
    ></pokedex-card>
  </ng-container>
  <ng-template #showLoading>Loading pokemons</ng-template>
</div>

<pagination-controls (pageChange)="pageChange($event)"></pagination-controls>
