.grid {
    display: grid;
    grid-gap: 16px;
    padding: 20px;
    grid-template-columns: 8cm 8cm 8cm 8cm;
    background: linear-gradient(to right, #D4D3DD, #bddda2);
}

pokedex-card {
    width: 260px;
    height: 350px;
    background-color: slategrey;
    border-radius: 10%;
    margin-left: 105%;
    margin-top: 10%;
    box-shadow: 5px 6px 8px rgba(0, 0, 0, 0.3);
    top: 0%;
    position: relative;
    transition: top ease 0.5s;
}

pokedex-card:hover {
    top: -14px;
    animation: 2s both myRotate;

}

@keyframes myRotate {
    100%{transform: rotateY(180deg);}
}

pagination-controls {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

img {
    height: 120px;
    position: absolute;
    top: 5px;
    right: 5px;
}
